fastapi~=0.109.0
starlette==0.14.2
pydantic~=2.6.0b1
typing-extensions==3.10.0.2
asgiref==3.4.1
click==8.0.1
colorama==0.4.4
SQLAlchemy~=2.0.25
psycopg2_binary
SQLAlchemy_utils==0.37.8
requests~=2.31.0
python-dotenv~=1.0.0
werkzeug~=3.0.1
phonenumbers~=8.13.27
pip~=24.0
attrs~=23.2.0
Jinja2~=3.1.3
setuptools~=69.0.3
uvicorn~=0.27.0
google-api-python-client
cryptography~=42.0.1
pillow~=10.3.0
tornado~=6.4
packaging~=24.0
pyparsing~=3.1.2
typing_extensions~=4.11.0
google-auth-oauthlib
google
google-api-python-client