$bright:#8D5EF2;
$main-bg: #f2f2f2;
$lec-bg:#fff;
$main-text:#000;
$light-text: #818C99;
$white:#fff;
$black:#000;
$input-inactive:#EBEBF2;
$input-active:#fff;
$red: #E72F5C;
$border-radius-1: 10px;
$border-radius-2: 12px;
$input-text-inactive: #797E8C;